# Robyn has used different names and e-mail addresses in the course of this project. Map them all to her current name and e-mail.
Robyn Speer <rspeer@luminoso.com> <rob@luminoso.com>
Robyn Speer <rspeer@luminoso.com> <rob@lumino.so>
Robyn Speer <rspeer@luminoso.com> <rspeer@mit.edu>
Robyn Speer <rspeer@luminoso.com> <rspeer+gh@luminoso.com>

